.post {
    padding: 16px;

    background: #F2F4EF;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.post__info {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 24px;
}

/* Bad sizing */
.info__avatar {
    aspect-ratio: 1;
    border-radius: 50%;
    width: 64px;
}

.info__bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}

.post__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.content__image {
    aspect-ratio: 16/9;
    border-radius: 12px;
    
    width: 100%;
    height: 100%;
}