.button {
    padding: 8px 32px;
    border-radius: 12px;
}

.button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.button--green {
    background-color: green;
}

.button--yellow {
    background-color: yellow;
}