.button {
    padding: 8px 320px;
    border-radius: 12px;
    margin: 5px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    color: white;
}

.button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.button--green {
    background-color: #A4BC92;
}

.button--yellow {
    background-color: #3A98B9;
}